.example-card {
    width: 270px;
    margin:  20px;
  }
  .cardlist{ 
        display : flex;
        flex-wrap: wrap;
        margin: 0 20px;
      }
      .images{
        width: 300px;
        height: 300px;
      }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }